body{
  font-family: 'Open Sans', sans-serif;

  margin: 0;
  box-sizing: border-box;
}

.container{
  display: grid;
  grid-template-columns: 0.75fr 2.5fr 2fr;

}

p{
  margin: 0;
}

img{
  margin: 10px 0;
}