.main{
 border-right: 1px solid hsl(0, 0%, 95%);

 display: flex;
 flex-direction: column;
 justify-content: flex-start;
}

.home-settings{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0 2px 0 0;
  border-bottom: 1px solid hsl(0, 0%, 95%);

  position: relative;
}

.home-options{
  display: flex;
  flex-direction: row;
  align-items: center;

  color: hsl(0, 0%, 40%);
  font-weight: 600;
  font-size: 0.9em;
}

.foryou-tab-container,
.following-tab-container{
  padding: 17px 110px ;

  cursor: pointer;
}
.foryou-tab-container:hover,
.following-tab-container:hover{
  background-color: hsl(0, 0%, 90%);
}


.foryou-tab{
  color: black;

  font-weight: 700;
}

.blue-tab{
  position: absolute;
  bottom: 0;
  left: 18%;

  width: 57px;
  height: 3.7px;

  background-color: hsl(203, 100%, 48%);

  border-radius: 2px;
}

.fa-gear-container{
  width: 35px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  cursor: pointer;
}

.fa-gear-container:hover{
  background-color: hsl(0, 0%, 90%);
}

.whatshappening-container{
  display: flex;
  align-items: start;

  padding: 6px 20px 10px 16px;
  border-bottom: 1px solid hsl(0, 0%, 95%);
}

.profile-picture-container{
  position: relative;
  width: 40px;
  height: 40px;
}

.profile-picture-hover{
  width: 40px;
  height: 40px;

  background-color: rgb(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: background-color 0.5s;
  
  border-radius: 50%;

  position: absolute;
  top: 10px;
  left: 0;
}

.profile-picture{
  width: 40px;

  border-radius: 50%;

  cursor: pointer;
}
.profile-picture-container:hover .profile-picture-hover{
  opacity: 1;
}

.whatshappening-text{
  flex: 1;
  align-items: center;

  margin-left: 15px;
}

.whatshappening-text p{
  font-size: 1.2em;
  font-weight: 500;

  color: hsl(0, 0%, 45%);

  margin-top: 16px;
}

.whatshappening-icons-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 28px;
}

.whatshappening-icons{
  display: flex;
  align-items: center;
}

.main-icon-container{
  border-radius: 50%;

  width: 35px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.main-icon-container:hover{
  background-color: hsl(207, 100%, 96%);

  cursor: pointer;
}

.fa-icon{
  color: hsl(207, 100%, 60%);
}

.gif{
  width: 12px;
  height: 12px;

  border: 2px solid hsl(207, 100%, 60%);
  border-radius: 3px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.gif-text{
  color: hsl(207, 100%, 60%);

  font-size: 0.4em;
  font-weight: bold;

  position: absolute;
}

.fa-location-dot{
  opacity: 0.5;

  margin-left: 10px;
}

.post-btn{
  background-color:  hsl(207, 100%, 63%);
  color: white;
  opacity: 0.5;

  border: none;
  border-radius: 20px;
  padding: 9px 16px;

  font-size: 0.93em;
  font-weight: 700;
}

.numberof-unwatched{
  border-bottom: 1px solid hsl(0, 0%, 95%);
  padding: 13px 0;
}
.numberof-unwatched:hover{
  background-color: hsl(0, 0%, 97%);
  cursor: pointer;
}

.numberof-unwatched p{
  text-align: center;

  color: hsl(207, 100%, 63%);
  opacity: 0.8;
  font-size: 0.9em;
  font-weight: 500;
}

.page{
  display: flex;
  align-items: start;

  padding: 5px 0 0 17px;
  border-bottom: 1px solid hsl(0, 0%, 95%);
}
.page:hover{
  background-color: hsl(0, 0%, 97%);
  cursor: pointer;
}

.hundeyin-page{
  border-bottom: none;
}

.page-profile-picture{
  margin-top: -3px;
}

.page-profile-picture img,
.profile-picture-follow-option img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: top;

  border-radius: 50%;
}

.page-content{
  padding: 3px 7px 0 3px;
  flex: 1;
}

.page-header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 5px 0 10px;
  margin-top: -6px;
}

.name{
  display: flex;
  align-items: center;

  margin-bottom: 5px;
}

.username{
  font-size: 0.9em;
  font-weight: 700;

  margin-right: 3px;
}
.username:hover,
.post-time:hover{
  text-decoration: underline;
  cursor: pointer;
}

.tick{
  width: 20px;

  margin-right: 3px;
}

.handle{
  font-size: 0.9em;
  font-weight: 500;

  color: hsl(0, 0%, 40%);
}

.three-dot{
  width: 35px;
  height: 35px;

  cursor: pointer;
  font-size: 0.9em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}
.three-dot:hover{
  background-color: rgb(143, 205, 255, 0.2);
  color: hsl(207, 100%, 46%);
}

.more-tooltip-container{
  position: relative;
}

.more-tooltip{
  font-size: 0.8em;

  background-color: rgb(0, 0, 0, 0.6);
  color: white;

  padding: 3px 4px;
  border-radius: 2px;

  position: absolute;
  bottom: -23px;
  z-index: 1;

  opacity: 0;
  transition: display 5s;

  pointer-events: none;
}

.more-tooltip-container:hover .more-tooltip{
  opacity: 1;
}

.tweet{
  padding-left: 10px;

  font-size: 0.9em;
  font-weight: 500;

  color: hsl(0, 0%, 25%);
}

.ronaldo-tweet{
  padding-right: 5px;
}

.ronaldo-tweet-inner{
  color: hsl(207, 100%, 63%);
}

.ronaldo-post-image{
  display: grid;
  grid-template-columns: 1fr 1fr;

  border-radius: 20px;
  padding-right: 5px;
  margin: 3px 0 0 4px;
}

.first-grid{
  border-top-left-radius: 20px;
}
.second-grid{
  border-top-right-radius: 20px;
}
.third-grid{
  border-bottom-left-radius: 20px;
  margin-top: -8px;
}
.fourth-grid{
  border-bottom-right-radius: 20px;
  margin-top: -8px;
}

.ronaldo-post-image img{
  width: 260px;
  height: 150px;
  object-fit: cover;
}

.vee-tweet{
  line-height: 2.5em;

  margin-top: -20px;

  width: 430px;
}

.davido-tweet{
  line-height: 2.5em;

  margin-top: -20px;
}

.hundeyin-tweet p,
.tayo-tweet p{
  margin-bottom: 25px;

  line-height: 1.3em;
}

.tayo-first-p{
  margin-top: 5px;
}

.tayo-more-text{
  margin-top: -22px;

  color: hsl(207, 100%, 63%);
  cursor: pointer;
}
.tayo-more-text:hover{
  text-decoration: underline;
}

.hundeyin-first-p,
.tayo-first-p,
.ronaldo-post{
  margin-top: -12px;
}

.post-image img{
  width: 505px;

  margin-left: 10px;
  margin-top: 5px;
  border-radius: 20px;
}

.post-image .davido-upload{
  width: 513px;
}

.post-image .tayo-upload{
  width: 405px;

  margin-top: -12px;
}

.stats-tab{
  display: flex;
  justify-content: space-between;

  padding: 0 13px 10px 10px;
}

.stats{
  display: flex;
  align-items: center;
}

.fa-stats-icon{
  font-size: 1em;

  color: hsl(0, 0%, 38%);
}

.fa-liked{
  color: hsl(340, 76%, 55%);
}

.stats-heart{
  color: hsl(340, 76%, 55%);

  font-size: 0.85em;
  font-weight: 500;
  letter-spacing: 0.005em;

  margin-left: 8px;
}

.stats-figure{
  font-size: 0.85em;
  letter-spacing: 0.005em;
  
  color: hsl(0, 0%, 38%);

  margin-left: 8px;
}

.fa-bookmark-main{
  color: hsl(0, 0%, 38%);
  margin-right: 18px;
}