.sidebar{
  padding: 15px 0 0 30px;

  position: sticky;
}

.premium-subscription,
.trends,
.who-to-follow{
  border-radius: 15px;
 
  background-color: hsl(0, 0%, 97%);
  opacity: 0.9;

  width: 350px;
}

.premium-subscription{
  padding: 12px 20px;
}

@media(max-width: 1243px) {
  .premium-subscription{
    border-top: 1px solid hsl(0, 0%, 95%);
  }
  
}

.trends,
.who-to-follow{
  margin-top: 17px;
}

.trends-header,
.who-to-follow-header{
  padding: 12px 20px 5px;
}

.premium-header,
.trends-header,
.who-to-follow-header{
  font-weight: 700;
  font-size: 1.2em;
}

.premium-text{
  font-weight: 700;
  font-size: 0.9em;

  margin: 10px 0 12px;
}

.premium-btn{
  border: none;
  border-radius: 20px;
  padding: 10px 18px 9px;

  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;

  font-size: 0.9em;
  font-weight: 700;
}

.trending{
  padding: 10px 10px 10px 20px;

  display: flex;
  justify-content: space-between;
}
.trending:hover,
.follow-option:hover,
.more-text:hover{
  background-color: hsl(0, 0%, 95%);
  cursor: pointer;
}

.trending-header{
  font-size: 0.82em;
}

.trending-topic{
  color: black;

  font-size: 0.91em;
  font-weight: 700;
  letter-spacing: 0.01em;

  margin-bottom: 3px;
}

.trending-stat{
  font-size: 0.85em;
}

.fa-ellipsis-sidebar{
  color: hsl(0, 0%, 30%);

  font-size: 0.9em;
}

.promotions{
  padding: 10px 20px;
}

.promotions-hashtag{
  color: black;

  font-weight: 700;
  font-size: 0.9em;
}

.promotions-text{
  font-size: 0.9em;

  color: hsl(0, 0%, 40%);

  margin-top: 3px;
}

.fa-square-arrow-up-right{
  color: hsl(0, 0%, 30%);

  font-size: 0.8em;
}

.promotions-by{
  font-size: 0.8em;

  margin-top: 2px;
}

.more-text{
  color: hsl(207, 100%, 50%);
  cursor: pointer;
  opacity: 0.8;

  padding: 15px 0 15px 20px;
  border-radius: 0 0 15px 15px;

  font-size: 0.9em;
  font-weight: 500;
}

.follow-option{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px 15px;
}

.profile-picture-follow-option{
  display: flex;
  align-items: center;
}

.profile-picture-follow-option img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: top;

  border-radius: 50%;
  margin-right: 10px;
}

.username-follow-option{
  margin-bottom: 2px;
}

.name-tick{
  display: flex;
  align-items: start;

  margin-bottom: 2px;
}

.name-tick img{
  width: 15px;
  height: 15px;
  margin: 0;
}
 
.follow-option-btn{
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);

  font-size: 0.85em;
  font-weight: 600;

  cursor: pointer;
}

.terms{
  margin: 15px 0 0 10px;

}

.top-terms{
  margin-bottom: 3px;
}

.top-terms,
.bottom-terms{
  display: flex;

  font-size: 0.85em;

  color: hsl(0, 0%, 40%);
}

.top-terms p,
.bottom-terms p{
  margin-left: 10px;
}

.bottom-terms p{
  margin-right: 2px;
}

.terms p:hover{
  text-decoration: underline;
  cursor: pointer;
}

.more-terms{
  display: flex;
  align-items: center;

  margin-right: 15px;
}

.fa-ellipsis-terms{
  margin: 4px 0 0 0;
  font-size: 0.8em;
  color: hsl(0, 0%, 50%);
}

.copyright-terms{
  display: flex;
  align-items: center;
}

.copyright-terms p:hover{
  text-decoration: none;
  pointer-events: none;
}

.fa-copyright{
  font-size: 10px;

  margin-right: -5px;
}

.fixed-message-box{
  background-color: white;

  display: flex;
  justify-content: space-between;

  position: fixed;
  bottom: 0;
  right: 20px;

  width: 400px;
  height: 50px;

  padding: 10px 30px 0 15px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.4);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.fixed-message-text{
  font-weight: 700;
  font-size: 1.2em;
}

.fixed-message-icons{
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}

.fixed-message-icon-container{
  position: relative;
  font-size: 1.2em;
  margin-right: 20px;
}

.fa-plus{
  position: absolute;
  bottom: -2px;
  right: -2px;

  background-color: white;

  border-radius: 50%;
  padding: 2px;

  font-size: 8px;
}

.fa-angles-up{
  font-size: 1.1em;
}

.fixed-message-tooltip-container{
  position: relative;
  cursor: pointer;
}

.fixed-message-tooltip{
  font-size: 0.65em;

  background-color: rgb(0, 0, 0, 0.6);
  color: white;

  padding: 3px 4px;
  border-radius: 2px;

  position: absolute;
  top: -23px;
  right: -15px;
  z-index: 1;

  opacity: 0;
  transition: opacity 0.1s ease-in 0.5s, visibility 0s 0.1s;

  pointer-events: none;
}

.message-tooltip-fixed{
  font-size: 0.6em;
  white-space: nowrap;

  right: -35px;
}

.fixed-message-tooltip-container:hover .fixed-message-tooltip{
  opacity: 1;
  visibility: visible;
}

.fixed-message-tooltip-container:not(:hover) .fixed-message-tooltip{
  opacity: 0;
  visibility: hidden;
}

@media(max-width: 999.9px) {
  .sidebar{
    display: none;
  }
}

@media(min-width: 1000px) and (max-width: 1243px) {
  .fixed-message-box{ 
    bottom: 50px;

    width: 400px;
    height: 52px;
  }
}